* { font-family: 'Open Sans'; }

form { margin:0px; }

h1, h2, h3, h4, .lobster { font-family: 'Advent Pro'; font-weight:normal; }

a:hover { text-decoration:none; }

body { background-image:url("../images/bg.png"); }

.icon { 
    background-image:url("../images/sprite_seledine.png");
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
    background-repeat:no-repeat;
}

.line {
    background-image:url("../images/line.png");
    width:100%;
    height:2px;
}

.wide {
  width:100%;
  height: 500px;
  background-image:url('../images/bg1.jpg');
  background-size:cover;
  -webkit-background-size:cover;
  background-position:10% 0;
  min-width:100%;
  @media (width: @iphone-screen) { background-attachment: cover; }
}

.whitelink {
	width:41px;
    height:41px;
	display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
    background-repeat:no-repeat;
}

.whitelink-add {
    background-image:url("../images/link1.png");
}

.whitelink-buy {
    background-image:url("../images/link2.png");
}

.whitelink-group {
    background-image:url("../images/link3.png");
}

.whitelink-events {
    background-image:url("../images/link4.png");
}


.s01-bgr{ background-position: 0 0; width: 965px; height: 205px; } 
.s02-icon-buy{ background-position: 0 -215px; width: 41px; height: 41px; } 
.s02-icon-change{ background-position: 0 -266px; width: 41px; height: 41px; } 
.s02-icon-cook{ background-position: 0 -317px; width: 42px; height: 41px; } 
.s02-icon-eat{ background-position: 0 -368px; width: 41px; height: 41px; } 
.s02-icon-events{ background-position: 0 -419px; width: 41px; height: 41px; } 
.s02-icon-group{ background-position: 0 -972px; width: 41px; height: 41px; } 
.s03-icon-search{ background-position: 0 -470px; width: 31px; height: 38px; } 
.s04-icon-facebook{ background-position: 0 -518px; width: 20px; height: 19px; } 
.s04-icon-rss{ background-position: 0 -547px; width: 20px; height: 19px; } 
.s04-icon-twitter{ background-position: 0 -576px; width: 20px; height: 19px; } 
.s05-bullet{ background-position: 0 -605px; width: 9px; height: 9px; opacity: 0.4; filter: alpha(opacity=40); } 
.s06-tick-off{ background-position: 0 -624px; width: 15px; height: 16px; } 
.s06-tick-on{ background-position: 0 -650px; width: 15px; height: 16px; } 
.s07-no-avatar{ background-position: 0 -676px; width: 50px; height: 50px; } 
.s08-pa-delete{ background-position: 0 -736px; width: 24px; height: 23px; } 
.s08-pa-edit{ background-position: 0 -769px; width: 23px; height: 23px; } 
.s09-mail{ background-position: 0 -802px; width: 15px; height: 10px; } 
.s10-new{ background-position: 0 -822px; width: 25px; height: 24px; } 
.s11-hat-off{ background-position: 0 -856px; width: 25px; height: 19px; } 
.s11-hat-on{ background-position: 0 -885px; width: 25px; height: 19px; } 
.s12-comments{ background-position: 0 -914px; width: 25px; height: 19px; } 
.s12-recommended{ background-position: 0 -943px; width: 25px; height: 19px; } 
.s14-spec1{ background-position: 0 -1023px; width: 20px; height: 20px; } 
.s14-spec2{ background-position: 0 -1053px; width: 20px; height: 20px; } 
.s14-spec3{ background-position: 0 -1083px; width: 20px; height: 20px; } 
.s14-spec4{ background-position: 0 -1113px; width: 20px; height: 20px; } 
.s14-spec5{ background-position: 0 -1143px; width: 20px; height: 20px; } 
.s14-spec6{ background-position: 0 -1173px; width: 20px; height: 20px; } 
.s14-spec7{ background-position: 0 -1203px; width: 20px; height: 20px; } 
.s14-spec8{ background-position: 0 -1233px; width: 20px; height: 20px; } 
.s15-fb-login{ background-position: 0 -1263px; width: 99px; height: 101px; opacity: 0.6; filter: alpha(opacity=60);}
.s15-fb-login:hover{ opacity: 1; filter: alpha(opacity=100);}
.s16-icon-search{ background-position: 0 -1374px; width: 30px; height: 30px; position:absolute; right:15px; top:35px;} 
.s17-icon-buy{ background-position: 0 -1414px; width: 41px; height: 41px; } 
.s17-icon-change{ background-position: 0 -1465px; width: 41px; height: 41px; } 
.s17-icon-events{ background-position: 0 -1516px; width: 41px; height: 41px; } 
.s17-icon-group{ background-position: 0 -1567px; width: 41px; height: 41px; } 
.s18-logo{ background-position: 0 -1618px; width: 176px; height: 76px; }
.s19-icon-buy{ background-position: 0 -1704px; width: 41px; height: 41px; } 
.s19-icon-change{ background-position: 0 -1755px; width: 41px; height: 41px; } 
.s19-icon-events{ background-position: 0 -1806px; width: 41px; height: 41px; } 
.s19-icon-group{ background-position: 0 -1857px; width: 41px; height: 41px; } 
.s20-logo{ background-position: 0 -1908px; width: 174px; height: 76px; } 
.s21-logo{ background-position: 0 -1994px; width: 180px; height: 74px; } 

.seledine { color:#2c2e2b; }
.bluish { color:#000000; }
.graish { color:#2c2e2b; }

.hr1 { margin-top:20px; width:100%; background: #cdeeff; height:20px; border-top:1px solid #CAD6DC; border-bottom:1px solid #CAD6DC; }

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #fff; /* old IE */
    background-color: #fff; /* Modern Browsers */
    opacity: 0.3; filter: alpha(opacity=30);
    margin:0px;
    margin-top:10px;
}

.captions {
	margin:0px auto;
	width:100%;
	text-align:center;
	margin-top:100px;
	color:#fff;
}

.captions h1 {
	font-size:60px;
	font-weight:bold;
}

.main-content {
    width:1100px;
    margin:0px auto;
    padding:0px;
}

.main-content-100 {
    margin:0px auto;
}

.links-and-search-area {
    width:100%;
    height:500px;
    padding-top:10px;
}

.login-info-bar {
    font-size:11px;
    text-align:right;
    padding:0px 15px 0px 0px;
    color: black;
    background-color:#E5E5E5;
}

.title-bar {
    padding:6px 0px;
    font-size:20px;
    font-family:'Advent Pro';
    color:#797979;
    font-weight:bold;
}

.title-bar a {
    font-family:'Advent Pro';
    color:#797979;
}

.title-bar a:hover {
    color:#4D4D4D;
}

.login-info-bar-prolong, .title-bar-prolong {
    width:100%;
    color:black;
    background-color:#F0F0F0;
}

.top-top {
    position:fixed;
    z-index:100000;
    background-color:#E5E5E5;
}

.logo { 
    width:179px;
    height:52px;
    background-image:url("../images/logo.png");
    display:inline-block;
    *display:inline;
    zoom:1;
    float:left;
}

.logo-and-links, .search-and-social {
    margin:0px auto;
    position:relative;
}

.sublogo {
    position:absolute;
    font-size:1.1em;
    bottom:-12px;
    color:white;
    background:#6E8953;
    padding:2px 7px;
    font-family:'Lobster';
}

.avatar {
    width:41px; height:41px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:2px solid white;
    background-color:white;
    margin:0px auto;
    display:block;
}

.small_avatar {
    width:180px; height:150px;
    border: 1px solid #7a9197;
}

.search-and-social { }

.main-link {
    font-size:16px !important;
    color:#FFF;
}

.main-link:hover {
    color:#FFF;
}

.main-link-icons {
    float:right;
    border-top:0px;
    border-bottom:0px;
    width:135px;
    text-align:center;
}

.left-dotted {
    border-right:0px !important;
}

.right-dotted {
    border-left:0px !important;
}

.search-input-container {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position:relative;
    width:242px;
    margin:0px auto;
    margin-top:100px;
    text-align:center;
    color:#fff;
}

.search-input-container input {
    font-size:35px;
    height:60px;
    padding:0px 15px;
    width:200px;
    font-weight:bold;
}

.social-icons-container {
    float:right;
    width:105px;
    text-align:center;
    font-size:17px;
    line-height:25px;
}

.register-label { width:160px; }
.register-input input { width:290px; }

.newest { width:1275px; margin:0px auto; }
.newest-products { width:100%; margin-top:15px; }
.newest-title {  }

.photo-bluish-border { border:1px solid #7d919a; }

.in-tile-desc { font-size:0.85em; line-height:16px; padding:9px; word-wrap:break-word; }

.in-tile {
    background-color:#fff;
}

.in-tile a span {
    color:#2c2e2b;
}

.details { font-size:0.8em; padding:0px 9px; }

.filters { width: 199px; float:right;}
.filters header { background:#7d919a; text-align:center; }
.filters header h3 { margin:0px; padding:0px; display:inline; color:#FFF; font-size:1.6em; }
.filters section { background:#e5e9ec; }

#login-modal {
    text-align:left;
    padding:15px 30px 30px 30px;
}

#login-modal .input-label { width:100px; }
#login-modal input { width:230px; }

.product-image-details {
    overflow:hidden;
    text-align:center;
    margin-right:10px;
}

.product-image-details .main-photo {
    max-width:500px;
    text-align:left;
}

.product-aside-image-details {
    float:left;
    margin-top:10px;
}

.product-description-details {
    float:left;
    width:450px;
    margin-right:10px;
    padding-right:10px;
    min-height:230px;
    border-right:1px dotted #7A9197;
}

.product-description-details p {
    word-wrap:break-word;
}

.product-action-details {
    font-size:0.9em;
    float:left;
    width:440px;
}

a.lobster { font-size:13px; }
a.btn-large { font-size:17px; } 

.login-box { width:290px; float:left; }

.right-side-content { float:left; width:975px; }

.grade-row { padding:10px 5px; border-bottom:1px dotted #7d919a;}  
.grade-row:hover { background: #7d919a; cursor:pointer; cursor:hand; }

#unit-price-tag { display:none; }

.pager_link, .pager_curpage {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
    background:#2C2E2B;
    padding:3px 5px;
    font-weight:bold;
    color:#FFF;
}

.pager_curpage {
    background:#6E8953;
}

.paginator {
    width:100%; text-align:center; padding:15px 0px;
}

.select-filter {
    width:130px;
    font-size:0.9em;
    line-height:20px;
    padding:5px 6px;
}

.mosaic {
    display:inline-block;
    *display:inline;
    zoom:1;
    width:241px;
    height:281px;
    position:relative;
    margin-right:8px;
    margin-bottom:12px;
    background-color:white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.caphel {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
    width:120px;
    height:120px;
    position:absolute;
    background-color:#E5E5E5;
}

.caphel-1 {
    top:40px;
    left:0px;
    border-right:1px solid white;
    border-bottom:1px solid white;
}

.caphel-2 {
    top:40px;
    left:120px;
    border-left:1px solid white;
    border-bottom:1px solid white;
}

.caphel-3 {
    top:160px;
    left:0px;
    border-right:1px solid white;
    border-top:1px solid white;
}

.caphel-4 {
    top:160px;
    left:120px;
    border-left:1px solid white;
    border-top:1px solid white;
}

.counter {
    position:absolute;
    padding:18px 0px;
    width:57px;
    text-align:center;
    font-family: 'Advent Pro';
    background-image:url("../images/counter.png");
    font-size:22px;
    top:132px;
    left:92px; 
}

.mosiaic-title {
    font-family: 'Advent Pro';
    color:#2c2e2b;
    font-size:20px;
    padding:9px 0px;
    width:220px;
    margin-left:9px;
}

.mosaic-arrow {
    position:absolute;
    top:-1px;
    left:20px;
}

.mosaic-arrow2 {
    position:absolute;
    top:39px;
    left:20px;
}

.mosaic-avatar {
    width:100%;
    text-align:center;
    position:absolute;
}

.mosaic-avatar .avatar {
    margin:0px auto;
}

.mosaic-avatar .lobster {
    font-size:20px;
    margin-top:10px;
}

.mosaic-avatar .aside {
    font-size:11px;
    margin-top:2px;
}

.arrow { margin:0; display:inline-block !important; *display:inline !importatnt; zoom:1; vertical-align:middle; width:0; height:0; border-color:#fff; border-style:solid; border-width:12px; overflow:hidden; } 
.arrow-up { border-left-color:transparent !important; border-right-color:transparent !important; border-top:none !important; }
.arrow-down { border-left-color:transparent !important; border-right-color:transparent !important; border-bottom:none !important; }
.arrow-right { border-top-color:transparent !important; border-bottom-color:transparent !important; border-right:none !important; }
.arrow-left { border-top-color:transparent !important; border-bottom-color:transparent !important; border-left:none !important; }

.top-shelf {
    color:#fff;
}

.top-shelf:hover {
    color:#E8E8E8;
}

table.specifics {
    width:500px;
    margin-top:10px;
}

table.specifics td {
    vertical-align:middle;
}

table.specifics input {
    margin-right:3px;
}

.vertical-ul {
    margin:0px;
}

.vertical-ul li {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
}

.specifics {
    width:10px;
    height:10px;
}

.specific-1 {
    background-color:#de6dad;
}

.specific-2 {
    background-color:#35a8d4;
}

.specific-3 {
    background-color:#465c3a;
}

.specific-4 {
    background-color:#2eaf6f;
}

.specific-5 {
    background-color:#d4681f;
}

.specific-6 {
    background-color:#005B63;
}

.specific-7 {
    background-color:#00A5A6;
}

.specific-8 {
    background-color:#FF2468;
}

.thread-messages {
    width:700px;
    float:left;
    border-right:1px dotted #7a9197;
    padding-right:20px;
}

.thread-participator {
    float: left;
    margin-left:20px;
}

.participant-photo {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
    background-repeat:no-repeat;
    width:90px; height:90px;
    margin-bottom:5px;
}

.message-buttons {
    margin-bottom:20px;
}

.mains-as-title {
    color: #2c2e2b;
    font-size:20px;
}

.social-icons-area {
    position: relative;
}

.fb-like {
    position: absolute;
    top:-5px;
}

.product-apla-opacity {
    position:absolute;
    padding:10px;
    background-color:black;
    bottom:10px;
    opacity: 0.6; filter: alpha(opacity=60);
    width:220px;
    height:20px;
    display:none;
}

.product-apla {
    position:absolute;
    padding:10px;
    bottom:10px;
    display:none;
}

.exchange-a {
    display:block;
    margin-bottom:2px;
}

.exchange-a:hover {
    background-color:#D9F1F9;
}

.product-offers {
    float:left;
    width:60%;
}

.product-comments {
    float:left;
    width:35%;
    margin-left:20px;
}

.product-comments-alone {
    width:35%;
}

.comment-textarea {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border:1px solid #4D4D4D;
    margin-top:10px;
    margin-bottom:5px;
    width:440px;
}

.user-comment {
    width:440px;
    padding:6px;
    margin-bottom:4px;
    font-size:13px;
}

.comment-regular {
    background-color:#E5E9EC;
}

.comment-owner {
    background-color:#CDEEFF;
}

.comment-details {
    color:#7F7F7F;
    font-size:0.8em;
}


