# -*- coding: utf-8 -*-
<%inherit file="../base_short.mako" />

<i/>wersja 1.0; obowiązująca od: 1.05.2016</i><br /><br />

<strong>I. Postanowienia wstępne</strong><br />
1. Niniejszy regulamin (dalej “Regulamin”) określa zasady korzystania przez użytkowników sieci Internet (“Użytkownicy”) z serwisu internetowego Foodel.pl (“Serwis” lub “Serwis Foodel.pl”), będącego internetową platformą umożliwiającą zamieszczanie bezpłatnych ogłoszeń (“Ogłoszenie”) dotyczących sprzedaży (zaproszenie do zawarcia umowy sprzedaży) lub wymiany produktów spożywczych, bądź usług związanych z branżą spożywczą i gastronomiczną.<br />
2. Właścicielem, administratorem i podmiotem odpowiedzialnym za serwis Foodel.pl jest ZRV DESIGN (“Administrator Serwisu” lub “Administrator”), z którym kontaktować można się pod adresem poczty elektronicznej: kontakt@foodel.pl.<br />
3. Warunkiem uzyskania dostępu do funkcjonalności Serwisu Foodel.pl jest skorzystanie z urządzenia komunikującego się z Internetem i wyposażonego w powszechnie używaną przeglądarkę internetową.<br />
4. Użytkownikiem Serwisu (“Użytkownik”) może być :<br />
- osoba fizyczna, która ukończyła 18 lat i posiada pełną zdolność do czynności prawnych lub<br />
- osoba prawna lub<br />
- jednostka organizacyjna nieposiadająca osobowości prawnej, ale mogąca we własnym imieniu nabywać prawa i zaciągać zobowiązania.<br /><br />

<strong>II. Ogólne warunki korzystania z Serwisu Foodel.pl</strong><br />
1. Użytkownik samodzielnie tworzy i publikuje treść Ogłoszenia za pomocą udostępnionych w Serwisie funkcji.<br />
2. Zamieszczenie Ogłoszenia powinno odzwierciedlać rzeczywisty zamiar dokonania przez Użytkownika transakcji opisanej w Ogłoszeniu.<br />
3. Po opublikowaniu w Serwisie, Ogłoszenia są dostępne publicznie i widoczne dla wszystkich użytkowników odwiedzających Serwis. Administrator dołącza do każdego Ogłoszenia formularz umożliwiający kontakt z autorem Ogłoszenia.<br />
4. Jedno Ogłoszenie może dotyczyć jednego towaru lub jednego typu towarów lub jednej usługi lub jednego typu usług (dalej “Przedmiot Ogłoszenia”).<br />
5. Niedozwolone jest zamieszczenie przez Użytkownika wielu Ogłoszeń dotyczących tego samego Przedmiotu Ogłoszenia.<br />
6. Korzystanie z Serwisu jest bezpłatne. Administrator nie pobiera żadnych opłat za zamieszczanie Ogłoszeń, ani żadnych prowizji od transakcji przeprowadzonych między Użytkownikami.<br />
7. Użytkownik jest odpowiedzialny za publikowane treści (w tym zdjęcia) i gwarantuje, że są one zgodne ze stanem faktycznym oraz prawem, a ich publikacja nie narusza praw Administratora, Regulaminu oraz praw osób trzecich, w tym praw autorskich.<br />
8. Treść Ogłoszenia powinna w jasny sposób nawiązywać do Przedmiotu Ogłoszenia, opisywać go dokładnie, rzetelnie i kompletnie oraz nie może wprowadzać w błąd innych Użytkowników, w szczególności co do właściwości Przedmiotu Ogłoszenia, takich jak: jego jakość, skład, stan, pochodzenie, marka czy producent. <br />
9. Użytkownik dodając Ogłoszenie, wyraża zgodę na wykorzystanie zamieszczonych treści (w tym zdjęć zawartych w Ogłoszeniu) i promocję dodanych przez siebie Ogłoszeń przez Administratora poprzez umieszczanie ich na stronie głównej Serwisu, w newsletterach skierowanych do obecnych oraz potencjalnych Użytkowników, a także w innych mediach, z których wydawcami Administrator nawiązał lub nawiąże współpracę (“Partnerzy”). Publikacja Ogłoszenia w materiałach promocyjnych lub w mediach należących do Partnerów nie będzie wiązała się z żadnymi kosztami, a jej celem jest pozyskanie największej liczby potencjalnych odbiorców Ogłoszenia.<br />
10. Administrator chroni dane Użytkowników zgodnie z polityką prywatności dostępną w Serwisie. <br /><br />

<strong>III. Rejestracja Użytkownika</strong><br />
1. Korzystanie z Serwisu Foodel.pl możliwe jest po bezpłatnym zarejestrowaniu Użytkownika. Rejestracja uprawnia Użytkownika w szczególności do:<br />
- zamieszczania Ogłoszeń zgodnie z Regulaminem<br />
- odpowiadania na Ogłoszenia w celu nawiązania kontaktu z autorem Ogłoszenia i/lub skorzystania z oferty zawartej w Ogłoszeniu<br />
- korzystania z przydzielonej danemu Użytkownikowi, identyfikowanej za pomocą adresu e-mail części Serwisu (“Profil”), za pomocą której Użytkownik może dokonywać określonych działań w ramach Serwisu.<br />
2. Zamieszczenie Ogłoszenia wymaga akceptacji Regulaminu, wypełnienia przez Użytkownika odpowiedniego formularza oraz utworzenia Profilu.<br />
3. Utworzenie Profilu zapewnia Użytkownikowi pełen dostęp do jego Ogłoszeń (np. w celu ich modyfikacji) i korespondencji z innymi Użytkownikami. Aktywacja Profilu następuje poprzez połączenie Serwisu z kontem Użytkownika na portalu Facebook zgodnie z treścią punktu IV. Regulaminu lub po ręcznym utworzeniu hasła i wskazaniu adresu e-mail przez Użytkownika na odpowiedniej stronie Serwisu. Po dokonaniu czynności, o których mowa w zdaniu poprzednim, Administrator na podany przez Użytkownika adres e-mail wyśle wiadomość wskazującą sposób aktywacji Profilu (link aktywacyjny) oraz inne wymagane prawem informacje.<br />
4. Utworzenie Profilu jest równoznaczne z zawarciem umowy pomiędzy Użytkownikiem a Administratorem w przedmiocie świadczenia usług na warunkach przewidzianych w Regulaminie.<br />
5. W przypadku osób prawnych i jednostek organizacyjnych, utworzyć Profil w ich imieniu oraz dokonywać wszelkich dalszych czynności w ramach Serwisu może jedynie osoba, która jest umocowana do działania w tym zakresie w imieniu tych podmiotów.<br />
6. Użytkownik może posiadać i korzystać tylko z jednego Profilu w Serwisie.<br />
7. Niedozwolone jest używanie tymczasowych adresów e-mail do tworzenia Profilu.<br />
8. Świadczenie usług przez Administratora w ramach Profilu w Serwisie ma charakter bezterminowy, jednakże Użytkownik może w dowolnym momencie usunąć Profil i tym samym rozwiązać umowę z Administratorem poprzez przesłanie swojego oświadczenia w tym zakresie za pomocą poczty elektronicznej na adres: WSTAW ADRES EMAIL. W przypadku rozwiązania umowy, Ogłoszenia utworzone przez Użytkownika zostaną usunięte.<br /><br />

<strong>IV. Połączenie Profilu z serwisem społecznościowym Facebook.com</strong><br />
1. Użytkownik posiadający konto na serwisie społecznościowym Facebook („Facebook”) dostępnym pod adresem www.facebook.com, może skorzystać z funkcjonalności „Zaloguj za pomocą Facebooka” (“Logowanie FB”)<br />
2. Korzystanie z funkcjonalności Logowanie FB jest opcjonalne.<br />
3. Użytkownik zobowiązuje się do wykorzystywania funkcjonalności Logowanie FB zgodnie z jej przeznaczeniem określonym w niniejszym Regulaminie.<br />
4. Warunkiem skorzystania z funkcjonalności Logowanie FB jest posiadanie konta w serwisie Facebook, a tym samym akceptacja postanowień regulaminu serwisu Facebook.<br />
5. Użytkownik korzystający z funkcjonalności Logowanie FB zobowiązuje się do nie wykorzystywania w tym celu konta Facebook należącego do innej osoby, ani konta utworzonego przy użyciu nieprawdziwych danych.<br />
6. Korzystając z funkcjonalności Logowanie FB Użytkownik wyraża zgodę na pobranie z Facebook i wykorzystanie przy dodawaniu i prezentowaniu swojego Ogłoszenia danych w postaci: Imienia, Nazwiska, Adresu e-mail, Zdjęcia.<br />
7. Adres e-mail Użytkownika nie będzie udostępniany publicznie.<br />
8. Administrator nie ponosi odpowiedzialności za działania i zaniechanie działań właściciela serwisu Facebook wobec Użytkownika, w tym czasowe lub stałe zawieszenie dostępu do usług związanych z kontem w serwisie Facebook, jak również za opóźnienia i utrudnienia w korzystaniu z w/w usług.<br />
9. Użytkownikowi przysługuje w dowolnym momencie prawo do cofnięcia pozwolenia na wykorzystanie informacji zgodnie z zasadami i przy wykorzystaniu mechanizmów Facebook lub poprzez zgłoszenie wycofania zgody w formie pisemnej Administratorowi. Jednocześnie Użytkownik przyjmuje do wiadomości, że w przypadku, gdy cofnięcie uprawnień może spowodować brak możliwości ponownego zalogowania się do Profilu.<br />
10. Facebook nie ponosi odpowiedzialności za treści oraz zasady działania Serwisu. Serwis nie jest w żaden sposób sponsorowany, popierany ani prowadzony przez  Facebook ani nie jest z nim związany.<br /><br />

<strong>V. Zamieszczanie i edycja Ogłoszeń</strong><br />
1. Zamieszczenie Ogłoszenia w Serwisie Foodel.pl wymaga:<br />
- założenia Profilu zgodnie z zasadami opisanymi w art. III i IV<br />
- wypełnienia formularza dostępnego na stronach Serwisu, w tym umieszczenia treści Ogłoszenia (tj. wypełnienia co najmniej pól oznaczonych jako obowiązkowe) <br />
2. Emisja Ogłoszenia w Serwisie rozpoczyna się niezwłocznie po jego aktywacji i trwa co do zasady 30 dni.<br />
3. Za pomocą formularza, o którym mowa powyżej, Użytkownik może dołączyć do Ogłoszenia zdjęcia w liczbie i w formatach określonych na stronie Serwisu.<br />
4. Ogłoszenie może być zamieszczone wyłącznie w języku polskim.<br />
5. W treści Ogłoszenia (w jego opisie i dołączonych zdjęciach) Użytkownik nie może zamieszczać adresów e-mail, numerów telefonów i numerów komunikatorów internetowych. Powyższe dane powinny być wyłącznie zamieszczane we wskazanych polach w formularzu Ogłoszenia. Administrator zastrzega, że Ogłoszenia, które będą zawierały przedmiotowe dane w jego treści, zamiast w formularzu kontaktowym mogą być usunięte.<br />
6. W okresie emisji Ogłoszenia Użytkownik może modyfikować treść Ogłoszenia i jego parametry (z wyłączeniem kategorii, w której jest publikowane), usunąć Ogłoszenie, a także dokonać wyboru opcji przedłużenia czasu emisji Ogłoszenia.<br /><br />

<strong>VI. Ogłoszenia dozwolone i zakazane</strong><br />
1. Ogłoszenie powinno być zgodne z tematyką Serwisu. Oznacza to, że Przedmiotem Ogłoszenia powinien być produkt lub usługa związana z żywnością, branżą spożywczą lub gastronomiczną.<br />
2. Administrator ma prawo do usunięcia Ogłoszenia, jeżeli narusza ono w jakikolwiek sposób postanowienia Regulaminu lub przepisy prawa, w szczególności gdy zawiera treści:<br />
- powszechnie uznane za obraźliwe,<br />
- noszące znamiona czynów nieuczciwej konkurencji,<br />
- naruszające dobre obyczaje, prawa autorskie lub inne prawa własności intelektualnej,<br />
- szkodzące dobremu imieniu lub renomie Administratora lub jego partnerów,<br />
- wprowadzające w błąd.<br />
3. Bezwzględnie zabronione i skutkujące natychmiastowym usunięciem Profilu i Ogłoszeń jest zamieszczenie przez Użytkownika ofert dotyczących obrotu następującymi przedmiotami (“Przedmioty Zakazane”) oraz dołączanie do nich zdjęć związanych z następującymi przedmiotami:<br />
- Przedmioty lub zdjęcia zawierające treści pornograficzne<br />
- Ogłoszenia o charakterze towarzyskim<br />
- Gadżety erotyczne (np. wibratory, lalki itp.)<br />
- Przedmioty lub zdjęcia zawierające treści nawołujące do nienawiści na tle różnic narodowościowych, etnicznych, rasowych, wyznaniowych albo ze względu na bezwyznaniowość;<br />
- Oprogramowanie i przedmioty przystosowane do prowadzenia działań naruszających przepisy prawa lub dobre obyczaje;<br />
- Materiały, które zawierają treści naruszające dobra osobiste osób trzecich;<br />
- Muzyka, filmy, oprogramowanie i inne towary, które naruszają prawa autorskie/ własność intelektualną;<br />
- Niebezpieczne substancje chemiczne w postaci czystej, mogące zagrażać życiu, zdrowiu lub środowisku (np. kwas siarkowy, karbid);<br />
- Substancje psychotropowe i środki odurzające, w szczególności narkotyki, a także inne substancje, które przeznaczone są do stosowania jako środki zastępcze, niezależnie od tego, czy posiadanie i obrót takimi substancjami i środkami jest prawnie zakazany;<br />
- Materiały wybuchowe i pirotechniczne (np. fajerwerki, kapiszony, świece dymne);<br />
- Napoje alkoholowe oraz wyroby tytoniowe, a także tytoń nieprzetworzony.<br />
- Produkty lecznicze wydawane z przepisu lekarza;<br />
- Organy i wydzieliny ludzkie lub organy zwierzęce;<br />
- Żywe lub martwe okazy zwierząt (a także ich części lub produkty pochodne), należące do gatunków umieszczonych w aktualnie obowiązujących aneksach A - D do rozporządzenia Rady (WE) nr 338/97 z dnia 9 grudnia 1996 r. w sprawie ochrony gatunkowej dzikiej fauny i flory w drodze regulacji handlu nimi;<br />
- Produkty podrobione, tzn. towary lub usługi oznaczone w sposób, który może wprowadzić klientów w błąd co do pochodzenia, ilości, jakości, składników, sposobu wykonania, przydatności, możliwości zastosowania, naprawy, konserwacji lub innych istotnych cech towarów albo usług;<br />
- Udziały w spółkach, akcje, obligacje i inne papiery wartościowe, wierzytelności, jednostki uczestnictwa funduszy inwestycyjnych, polisy i produkty ubezpieczeniowe oraz wszelkie inne instrumenty finansowe oferowane jako forma inwestowania lub lokowania środków pieniężnych, z wyjątkiem papierów wartościowych w formie materialnej o wartości wyłącznie kolekcjonerskiej;<br />
- Oprogramowanie, klucze seryjne, dostępy do kont i usług;<br />
- Dane osobowe lub listy adresów e-mail;<br />
- Katalogi wysyłkowe i sprzedaży bezpośredniej służące do zamawiania towarów;<br />
- Karty NC+, Cyfrowy Polsat;<br />
- Prace magisterskie, dyplomowe, licencjackie, maturalne, wypracowania i inne prace tego typu oraz usługi związane z tworzeniem takich prac;<br />
- Usługi i przedmioty związane z uczestnictwem w tzw. piramidach finansowych, tj. strukturach finansowych tworzonych na zasadzie pozyskiwania nowych członków, gdzie głównym (bądź wyłącznym) źródłem zysku jest uiszczane przez nich wpisowe;<br />
- Systemy inwestycji giełdowych oraz systemy do gier liczbowych i zakładów bukmacherskich, jak również usługi związane z udzielaniem pomocy przy przystępowaniu do takich gier i zawieraniu takich zakładów za wyjątkiem oficjalnych publikacji książkowych posiadających nadany nr ISBN;<br />
- Rybackie narzędzia i urządzenia połowowe, których posiadanie jest ograniczone przepisami prawa;<br />
- Broń i amunicja, której posiadanie lub obrót wymaga uzyskania odpowiedniego pozwolenia lub rejestracji oraz miotacze gazu, w tym gazu pieprzowego, niezależnie od tego, czy ich posiadanie lub obrót jest ograniczony przepisami prawa;<br />
- Dowody rejestracyjne oraz karty pojazdu oferowane bez pojazdów, do których je wydano.<br />
- Kupony zniżkowe, rabatowe, w formie promesy uprawniające do uzyskania upustu lub innej korzyści na przyszły zakup towarów.<br />
- Bilety na mecze piłki nożnej.<br />
- Usługi e-mailingu, tj. obsługa masowej korespondencji elektronicznej<br />
- Leki znajdujące się na liście Ministerstwa Zdrowia w tym OTC, preparaty mlekozastępcze, leki dostępne tylko w aptekach oraz środki zawierające substancje czynne. Dotyczy to również preparatów dostępnych wyłącznie za granicą i niedopuszczonych do sprzedaży w Polsce. Wyjątek stanowią suplementy diety, witaminy, leki ziołowe lub homeopatyczne<br />
- Usługi i przedmioty związane z zachęcaniem do wysłania wiadomości tekstowej na płatne numery SMS (tzw. SMS Premium).<br /><br />

<strong>VII. Odpowiedzialność Stron</strong><br />
1. Administrator umożliwia Użytkownikom umieszczanie Ogłoszeń w Serwisie Foodel.pl, nie ingerując w formę i treść tych Ogłoszeń, z zastrzeżeniem postanowień poniżej.<br />
2. Użytkownik zobowiązuje się do niezamieszczania Ogłoszeń z Przedmiotami Ogłoszeń, którymi obrót narusza obowiązujące przepisy prawa lub uprawnienia osób trzecich. Niezależnie od powyższego zabronione jest wystawianie Przedmiotów Ogłoszeń wymienionych jako zakazane w art. VI ust. 4. Regulaminu<br />
3. Administrator nie ponosi odpowiedzialności za nienależyte wykonanie bądź niewykonanie przez Strony umów związanych z Ogłoszeniem.<br />
4. Administrator nie ponosi odpowiedzialności za jakość lub legalność oferowanych Przedmiotów Ogłoszeń, prawdziwość i rzetelność informacji podawanych przez Użytkowników, a także zdolność sprzedających oraz kupujących do realizacji transakcji.<br />
5. Za naruszenie Regulaminu może być uznane m.in. manipulacja słowami kluczowymi w ofercie, wystawienie Ogłoszenia w niewłaściwej kategorii, zastrzeżenie w treści Ogłoszenia dotyczące wysłania Przedmiotu Ogłoszenia wyłącznie poprzez uprzednią zapłatę ceny przez kupującego. Powyższe działania skutkować będą podjęciem przez Administratora stosownych działań, nie wykluczając usunięcia Ogłoszenia lub blokady Profilu.<br />
6. Administrator nie odpowiada za:<br />
- brak zainteresowania Przedmiotem Ogłoszenia,<br />
- realizację obowiązków Użytkowników wynikających z rękojmi i gwarancji dotyczących przedmiotu Ogłoszenia,<br />
- działanie siły wyższej, systemów teleinformatycznych lub urządzeń od Administratora niezależnych,<br />
- składane przez Użytkownika oświadczenia drugiej stronie transakcji,<br />
- usunięcie Ogłoszenia opublikowanego u Partnerów, w wyniku jego niezgodności z zasadami zamieszczania Ogłoszeń u danego Partnera.<br />
- Administrator ma prawo do usunięcia każdego Ogłoszenia lub zablokowania Konta jeśli zaistniało podejrzenie że za pośrednictwem Ogłoszenia lub Konta mogło lub może dojść do działań zagrażających bezpieczeństwu innych Użytkowników w ramach Serwisu. Podobnie w przypadku, w którym Ogłoszenie negatywnie wpływa na dobre imię Administratora lub w inny sposób szkodzi Administratorowi.<br /><br />

<strong>VIII. Reklamacje</strong><br />
1. Użytkownik może zgłaszać reklamacje dotyczące niewykonania bądź nienależytego wykonania przez Administratora usługi, w terminie 14 dni od dnia zakończenia emisji Ogłoszenia bądź dnia, w którym emisja powinna się zakończyć.<br />
2. Reklamację można złożyć za pomocą korespondencji elektronicznej na adres: WSTAW ADRES EMAIL lub w formie listu poleconego przesłanego na adres Administratora wymieniony w art. I ust. 2 z dopiskiem "FOODEL.PL - reklamacja".<br />
3. Reklamacja powinna zawierać co najmniej: imię i nazwisko, adres e-mail Użytkownika przypisany do Konta, adres URL Ogłoszenia, którego reklamacja dotyczy bądź inne dane pozwalające na identyfikację Ogłoszenia, okres emisji, okoliczności uzasadniające reklamację, a także konkretne żądanie Użytkownika związane ze składaną reklamacją.<br />
4. Jeżeli podane w reklamacji dane lub informacje wymagają uzupełnienia, Administrator przed rozpatrzeniem reklamacji, zwróci się do Użytkownika o jej uzupełnienie we wskazanym zakresie.<br />
5. Administrator rozpoznaje reklamację w terminie 14 dni od daty otrzymania prawidłowo złożonej reklamacji. Użytkownik otrzyma informację o sposobie rozpatrzenia reklamacji drogą korespondencji elektronicznej, na adres e-mail przypisany do Konta.<br /><br />

<strong>IX. Postanowienia końcowe</strong><br />
1. Regulamin dostępny jest w Serwisie Foodel.pl, a także przesyłany drogą poczty elektronicznej na adres e-mail Użytkownika w przypadkach wymaganych przez odpowiednie przepisy prawne.<br />
2. O zmianie Regulaminu Administrator poinformuje poprzez zamieszczenie informacji na stronie Serwisu. Zmiany wchodzą w życie w terminie wskazanym przez Administratora, nie krótszym jednak, niż 7 dni od dnia zamieszczenie informacji na stronie Serwisu. Usługi aktywowane przed wejściem w życie zmian będą wykonane na warunkach dotychczasowych, dalsze zaś aktywacje możliwe są na warunkach bieżących.<br />
3. O ile bezwzględnie obowiązujące przepisy prawa nie stanowią inaczej, prawem właściwym dla całości umowy pomiędzy Użytkownikiem a Administratorem, której przedmiotem jest świadczenie przez Administratora usług na warunkach określonych w Regulaminie, jest prawo polskie.<br />
4. Wszelkie spory związane z usługami świadczonymi przez Administratora w ramach Serwis będą rozstrzygane przez właściwe polskie sądy powszechne.<br />
<br />
